/* 
    Created on : 2014-10-10, 16:25:56
    Author     : Lukasz
*/

/*
*   Wszystkie style od Znaczników
*   -------------------Start-------------------
*/
html
{
    font-family: tahoma;
}
body
{   
    margin: 0; 
}

form
{
    margin: 0;
}
a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    font-size: 30px;
}

/*
*   Wszystkie style od Znaczników
*   -------------------Koniec-------------------
*/

/*
*   Wszystkie style od Nagłówka
*   -------------------Start-------------------
*/

.label 
{
    width: 100%;
    height: 100px;
    padding: 0 0 0 0;
    background-color: #70a031;
}

#CMSname
{
    font-size: 30px;
    color: white;
}

#pageTitle
{
    font-size: 40px;
    color: white;
}

.pageTitles
{
    text-align: center;
    display: table-cell;
    vertical-align:middle;    
}

.titleContainer
{
    width: 100%;
    height: 100px;
    display: table;
}

.titleDivision
{
    width: 33.33%;
    height: 100px;
    position: relative;
    float: left;
}

/*
*   Wszystkie style od lissty opcji urzytkownika
*   -------------------Start-------------------
*/

.userMenu
{
    width: 200px;
    height: 100px;
    float: right;
    overflow: hidden;
    position: relative;
}

.userOption
{
    width: 200px;
    height: 100px;
    display: table;
    background-color: #70a031;
    color: white;
}

.userName 
{
    width: 200px;
    height: 100px;
    display: table;
    color: white;    
}


.userMenu:hover
{
    height: 400px;
}

/*
*   Wszystkie style od lissty opcji urzytkownika
*   -------------------Koniec-------------------
*/


/*
*   Wszystkie style od Nagłówka
*   -------------------Koniec-------------------
*/

/*
*   Wszystkie style od przestrzeni kontentu
*   -------------------Start-------------------
*/

.mainContainer 
{
    margin: 0 auto;
    min-width: 1000px;
    min-height: 1000px; 
    
    background-color: #84af4b;
}

.Content 
{
    margin: 0 auto;
    height: 1000px;
    min-width: 1000px;
    max-width: 1200px;
}

/*
*   Wszystkie style od przestrzeni kontentu
*   -------------------Koniec-------------------
*/


/*
*   Wszystkie style od ikonek CMS-a
*   -------------------Start-------------------
*/
.optionBelt 
{
    margin: 40px auto;
    height: 100px;
    width: 80%;
}

.optionsTitle
{
    width: 100px;
    height: 100px;
    float: left;
    text-align: left;
    margin: 0 2px 0 0;
    color: white;
}

#content
{
    background-color: #a7393b;    
}

#menage
{
    background-color: #5099a6;    
}
.title
{
    margin: 0;
    padding: 10px 10px;
}

.option
{
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: #70a031;
    margin: 0 2px 0 2px;
}

#news
{
    background-image: url(../Images/cms/newsy_button.png);
}

#news:hover
{
    background-image: url(../Images/cms/newsy_button.png), url(../Images/cms/hover.png);    
}

#calender
{
    background-image: url(../Images/cms/calendarium_button.png);
}

#calender:hover
{
    background-image: url(../Images/cms/calendarium_button.png), url(../Images/cms/hover.png);        
}

#gallery
{
    background-image: url(../Images/cms/gallery_button.png);   
}

#InForest
{
    background-image: url(../Images/cms/w_lesie_button.png);       
}

#InForest:hover
{
    background-image: url(../Images/cms/w_lesie_button.png), url(../Images/cms/hover.png);  
}

#UpCycling
{
    background-image: url(../Images/cms/upcycling_button.png);           
}

#users
{
    background-image: url(../Images/cms/users_button.png);           
}

#users:hover
{
    background-image: url(../Images/cms/users_button.png), url(../Images/cms/hover.png);     
}

#config
{
    background-image: url(../Images/cms/settings_button.png);              
}

#help
{
    background-image: url(../Images/cms/help_button.png);                  
}

#home
{
    margin: 0 auto;
    background-image: url(../Images/cms/homepage_button.png);
    display: block;
    width: 100px;
    height: 100px;
}

#home:hover
{
    background-image: url(../Images/cms/homepage_button.png), url(../Images/cms/hover.png);    
}

/*
*   Wszystkie style od ikonek CMS-a
*   -------------------Koniec-------------------
*/

table
{
    width: 1000px;
    margin: 0px auto;
    
    border-style: solid;
    border-width: 1px;
}
/*
*   Wszystkie style od działu newsów
*   -------------------Start-------------------
*/
.currentNews
{
    width: 30%;
    height: 650px;
    
    overflow-y: scroll;
    float: left;
    
    background-color: rgba(0,0,0,0.2);
}

.newsEditFeald
{
    width: 70%;
    height: 650px;
    background-color: rgba(0,0,0,0.2);
    
    float: right;
    position: relative;
}

.newsContentFeald
{
    width: 100%;
    height: 560px;    
}

.newsItem
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: block;
    background-color: rgba(255,255,255,0.1);
    margin: 2px 0 2px 0;
}

.newsItem:hover
{
    font-size: 16px;
    background-color: rgba(255,255,255,0.7);
}

#teopicInput
{
    border: 0;
    font-size: 16px;
    color: white;
    background-color: rgba(255,255,255,0.3);
}

.newsAddItem
{
    
    width: 200px;
    height: 70px;
    display: block;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -70px;
    
    background-color: #a7393b; 
}

.newsDeleteItem
{
    width: 25px;
    height: 25px;
    float:right;
    margin: 5px 0 0 0 ;
    
    border: 0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    
    text-align: center;
    font-size: 20px;
    color: rgba(255,255,255,0.3);
    vertical-align: middle;
}

.newsOK
{
    width: 200px;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    
    border: 0;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    
    background-color: #a7393b;    
}

.newsOK:hover
{
    font-size: 16px;    
}

.newsCenter
{
    width: 400px;
    margin: 0 auto;
}
.newsPointItem
{
    width: 25px;
    height: 25px;
    float:right;
    margin: -35px 0 0 0 ;
    
    border: 0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    
    text-align: center;
    font-size: 20px;
    color: rgba(255,255,255,0.3);
    vertical-align: middle;

}

.newsDeleteItem:hover
{
    background-color: rgba(0,0,0,0.5);   
}

/*
*   Wszystkie style od działu newsów
*   -------------------Koniec-------------------
*/

/*
*   Wszystkie style od działu kalendarza
*   -------------------Start-------------------
*/





/*
*   Wszystkie style od działu kalendarza
*   -------------------Koniec-------------------
*/

/*
*   Wszystkie style od działu W lesie
*   -------------------Start-------------------
*/

.inforestContent
{
    width: 1000px;
    height: 650px;
    
    margin: 0 auto;
    
    overflow-y: scroll;
}

.inforestTopicHolder
{
    width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.1);
    float: right;
}

.inforestTopicHolder p
{
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    margin: 0 10px;
}

.inforestDiscriptionHolder
{
    width: 600px;
    height: 250px;
    float: right;

    overflow-y: scroll;
    overflow-x: hidden;
    
    background-color: rgba(255,255,255,0.25); 
}

.inforestDiscriptionHolder p
{
    margin: 10px;
    position: relative;
}

.inforestContent a
{}

.inforestContent a:hover
{ 
    font-size: 16px;
}

.inforestItem
{
    background-color: #70a031;
    width: 900px;
    height: 300px;
    margin: 0 auto 20px;

     display: block;
}

.inforestImageHolder
{
    width: 300px;
    height: 300px;
    float: left;
    background-color: rgba(255,255,255,0.2);    
}

.inforesrImage
{
    margin: 20% 25;
    max-width: 250px;
    display: block;
}

.inforestAddItem
{
    width: 200px;
    height: 70px;
    display: block;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto 10px;
    
    background-color: #a7393b;     
}

/*
*   Wszystkie style od działu W lesie
*   -------------------Koniec-------------------
*/


td
{
    text-align: center;
}

input
{
    width: 100%;
}

button
{
    width: 50%;
    display: inline-block;
}

.add
{
    width: 100%;
}

.login
{
    width: 600px;
    height: 205px;
    background-color: bisque;
    
    margin: 0 auto;
}

.loginInputs
{
    
}

.loginTable
{
    display: inline-block;
    width: 300px;
    margin: 50px 50px; 
}

img
{
    display: inline-block
}
