/* 
    Created on : 2014-10-10, 16:25:56
    Author     : Lukasz
*/
html
{
    font-family: tahoma;
}
body
{
    overflow: no-content;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    font-size: 30px;
}

#CMSname
{
    font-size: 30px;
    color: white;
}

#pageTitle
{
    font-size: 40px;
    color: white;
}

.pageTitles
{
    text-align: center;
    display: table-cell;
    vertical-align:middle;    
}

.titleContainer
{
    width: 100%;
    height: 100px;
    display: table;
}

.titleDivision
{
    width: 33.33%;
    height: 100px;
    position: relative;
    float: left ;
}

.userMenu
{
    width: 200px;
    height: 100px;
    float: right;
    overflow: hidden;
    position: relative;
}

.userOption
{
    width: 200px;
    height: 100px;
    display: table;
    background-color: #70a031;
    color: white;
}

.userName 
{
    width: 200px;
    height: 100px;
    display: table;
    color: white;    
}


.userMenu:hover
{
    height: 400px;
}

.mainContainer 
{
    margin: 0 auto;
    min-width: 1000px;
    min-height: 1000px; 
    
    background-color: #84af4b;
}

.label 
{
    width: 100%;
    height: 100px;
    padding: 0 0 0 0;
    background-color: #70a031;
}

.Content 
{
    margin: 0 auto;
    max-height: 1000px;
    min-width: 1000px;
    max-width: 1200px;
    padding-top: 10px;
}

.optionBelt 
{
    margin: 40px auto;
    height: 100px;
    width: 80%;
}

.optionsTitle
{
    width: 100px;
    height: 100px;
    float: left;
    text-align: left;
    margin: 0 2px 0 0;
    color: white;
}

#content
{
    background-color: #a7393b;    
}

#menage
{
    background-color: #5099a6;    
}
.title
{
    margin: 0;
    padding: 10px 10px;
}

.option
{
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: #70a031;
    margin: 0 2px 0 2px;
}

#news
{
    background-image: url(../Images/cms/newsy_button.png);
}

#news:hover
{
    background-image: url(../Images/cms/newsy_button.png), url(../Images/cms/hover.png);    
}

#calender
{
    background-image: url(../Images/cms/calendarium_button.png);
}

#gallery
{
    background-image: url(../Images/cms/gallery_button.png);   
}

#InForest
{
    background-image: url(../Images/cms/w_lesie_button.png);       
}

#UpCycling
{
    background-image: url(../Images/cms/upcycling_button.png);           
}

#users
{
    background-image: url(../Images/cms/users_button.png);           
}

#users:hover
{
    background-image: url(../Images/cms/users_button.png), url(../Images/cms/hover.png);     
}

#config
{
    background-image: url(../Images/cms/settings_button.png);              
}

#home
{
    margin: 0 auto;
    background-image: url(../Images/cms/homepage_button.png);
    display: block;
    width: 100px;
    height: 100px;
}

#home:hover
{
    background-image: url(../Images/cms/homepage_button.png), url(../Images/cms/hover.png);    
}

table
{
    width: 1000px;
    margin: 0px auto;
    
    border-style: solid;
    border-width: 1px;
}

.currentNews
{
    width: 47.5%;
    height: 600px;
    
    overflow-y: scroll;
    float: left;
    
    background-color: rgba(0,0,0,0.2);
}

.newsEditFeald
{
    width: 52.5%;
    height: 600px;
    background-color: azure;
    
    float: right;
}

.newsContentFeald
{
    width: 100%;
    height: 560px;
}

.newsTable
{
    width: 100%;
}

td
{
    text-align: center;
}

input
{
    width: 100%;
}

button
{
    width: 50%;
    display: inline-block;
}

.add
{
    width: 100%;
}

.login
{
    width: 600px;
    height: 205px;
    background-color: bisque;
    
    margin: 0 auto;
}

.loginInputs
{
    
}

.loginTable
{
    display: inline-block;
    width: 300px;
    margin: 50px 50px; 
}

img
{
    display: inline-block
}
