/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-10, 16:25:56
    Author     : Lukasz
*/


.mainContainer 
{
    margin: 0 auto;
    min-width: 1000px;
    min-height: 1000px;  
}

.cards 
{
    width: 100%;
    height: 100px;
    padding: 0 0 0 0;
}

.card 
{
    width: 20%;
    height: 100%;
    
    float: left;
    display: inline-block;
    
}

.cardTitle 
{
    text-align: center;
    margin: 40px 0 0 0;
    
    font-family: tahoma;
}

#users
{
    background-color: lightsalmon;
}

.Content 
{
    min-height: 900px;
    min-width: 1000px;
    background-color: lightsalmon;
    padding-top: 1px;
}

table
{
    width: 1000px;
    margin: 20px auto;
    
    border-style: solid;
    border-width: 1px;
}

td
{
    text-align: center;
    width: 14%;
}

input
{
    width: 100%;
}

button
{
    width: 50%;
    display: inline-block;
   
}

.add
{
    width: 100%;
}