/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-04, 20:51:35
    Author     : ldabek
*/

body
{
    background-color: #090b03;
}

.buttonHolder
{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.button
{
    width: 160px;
    height: 100px;
    display: block;
    float: left;
    background-size: 100% 100%;
}

#news
{
    background-image: url(../Images/button1.png);
}

#gallery
{
     background-image: url(../Images/button2.png);
}

#InForest
{
     background-image: url(../Images/button3.png);
}

#callender
{
     background-image: url(../Images/button4.png);
}

#contact
{
      background-image: url(../Images/button5.png);
}

#UpCycling
{
      background-image: url(../Images/button6.png);
}

.socialNetworks
{
    margin: 100px auto;
    
    width: 250px;
    height: 300px;
    float: left;
}

.socialNetwork
{
    display: block;
    width: 100%;
    height: 60px;
}

#Facebook
{
    margin: 110px auto 0px 0px;
    background: url(../Images/fb_button.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 125px 0px;
}

#twitter
{
    margin: 30px auto 0px 0px;
    background: url(../Images/twit_button.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50px 0px;   
}

#YouTube
{
    margin: 55px auto 0px 0px;
    background: url(../Images/yt_button.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 80px 0px;
    
    height: 80px
}

.baner
{
    width: 1152px;
    height: 320px;
    
    background-image: url(../Images/logo_top.png), url(../Images/banner.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    
    margin: 0 auto;
}

.spaceer
{
    width: 1152px;
    height: 2px;
    background-color: rgba(0,0,0,0.7);
    
    margin: 0 auto;
}

p
{
    font-family: tahoma;
    font-stretch: 130%;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 0; 
}












